<div class="content" role="main">
  <mat-toolbar class="mat-primary header">
    <span class="title">Список Дел и Angular</span>
  </mat-toolbar>
  <app-loader></app-loader>
  <section class="categories">
    <app-category *ngFor="let category of storeService.categories$ | async; trackBy: identify" [id]="category.id" [title]="category.title" [todos]="category.todos!"></app-category>
    <mat-card class="add">
      <button (click)="add()" mat-icon-button color="basic" aria-label="Добавить новую категорию">
          <mat-icon fontIcon="add"></mat-icon>
      </button>
    </mat-card>
  </section>
  <app-error></app-error>
</div>
