<form class="modal" [formGroup]="form">
  <h1 mat-dialog-title>Новая задача</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="standard">
      <mat-label>Текст</mat-label>
      <input matInput [formControl]="convertToFormControl(form.controls.text)" placeholder="Текст" cdkFocusInitial>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Категория</mat-label>
      <mat-select (selectionChange)="select($event.value)" [formControl]="convertToFormControl(form.controls.categoryId)">
        <mat-option *ngFor="let option of options!; trackBy: identify" [value]="option.id">
          {{ option.title }}
        </mat-option>
        <mat-option [value]="-1">
          Новая категория
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="standard" [ngStyle]="{'display' : form.controls.categoryId.value === -1 ? 'inline-block' : 'none' }">
      <mat-label>Категория</mat-label>
      <input type="text"
             placeholder="Категория"
             aria-label="Категория"
             matInput
             [formControl]="convertToFormControl(form.controls.category)">
    </mat-form-field>
  </div>
  <div class="error" *ngIf="isControlInvalid('text')">
   В тексте должно быть больше 1 символа
  </div>
  <div class="error" *ngIf="isControlInvalid('category')">
   В категории должно быть больше 1 символа<br/>Категория должна быть уникальна
  </div>
  <div mat-dialog-actions [ngClass]="{'margin': !isControlInvalid('category') && !isControlInvalid('text')}">
    <button mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid">Добавить</button>
    <button mat-button (click)="close()">Отмена</button>
  </div>
</form>
